/*********************************/
/*          MAIN STYLINGS;       */
/*********************************/

* {
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6, form, textarea {
    font-family: sans-serif;
}

p {
    font-family: cursive;
}

/* Login Page */

#login {
    text-align: center;
}

#login-form {
    margin-left: auto;
    margin-right: auto;
    width: 189px;
}

/* Messages Page */

fieldset, fieldset p {
    font-family: monospace !important;
}

#user-info {
    margin: 15px;
}

#post-header {
    margin-left: 241px;
}

#post-text {
    display: block;
    margin: 0px auto 0px auto;
}

#post-submit {
    display: block;
    margin: 15px 313px 0px auto;
}


.comm {
    margin-left: 40px;
}

.errors {
    color: red;
    text-align: center;
}

.errors p {
    font-family: sans-serif;
}

.post-messages {
    margin: 25px 238px 25px 238px;
}

.comm-text {
    display: block;
}

.comm-submit {
    display: block;
    margin: 15px 153px 0px auto;
}
